<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <title>Ludum Dare 34</title>
    <%- css('style') %>
  </head>
  <body>
    <div class="display-wrapper">
    </div>
    <%- js('main') %>
  </body>
</html>
